@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
  background-color: #f4f5f5;
}

.icon,
.url {
  margin-left: 0.5rem;
}

.icon:hover,
.icon:focus,
.icon:active,
.icon:visited,
.icon:link {
  text-decoration: none;
}

.icon:visited,
.icon:link {
  color: black;
}

.icon:hover,
.icon:active,
.icon:focus {
  color: rgba(25, 150, 200, 1);
}

.editor {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample-toolbar,
.work-area {
  width: 60rem;
  padding: 1rem 2rem;
}

.sample-toolbar {
  background: rgba(255, 255, 255, 1);
}

.sample-toolbar > span {
  cursor: pointer;
}

/* .sample-toolbar > span:hover {
  text-decoration: underline;
} */

.sample-toolbar span:hover {
  text-decoration: none;
}

.work-area {
  overflow: auto;
  height: 100%;
  background-color: white;
  overflow-wrap: break-word;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.rtl{
  direction: rtl;
}

.hidden {
  display: none;
}

.align-dropdown {
  background-color: #f4f5f5;
  min-width: 2rem;
  display: block;
  margin-top: -1px;
  left: 20.1vw;
  line-height: 1.3;
  z-index: 1;
  position: absolute;
  white-space: nowrap;
  padding: 4px;
}

.align-dropdown a {
  display: block;
}

.text-dropdown,
.background-dropdown {
  height: 7.5rem;
  background-color: #f4f5f5;
  width: 8.6rem;
  /* min-width: 1rem; */
  display: block;
  margin-top: -1px;
  /* left: 100%; */
  /* right: 500vw; */
  /* line-height: 1.3; */
  z-index: 1;
  position: absolute;
  white-space: nowrap;
  padding: 4px;
}

.text-dropdown {
  left: 17.3vw;
}

.background-dropdown {
  left: 19.6vw;
}

.text-dropdown > span,
.background-dropdown > span {
  display: inline-block;
}

.text-dropdown button,
.background-dropdown button {
  display: inline-block;
}

.text-dropdown button:hover,
.background-dropdown button:hover {
  text-decoration: none;
}

.highlight-square {
  /* width: 1rem; */
  height: 1rem;
  border-style: none;
  cursor: pointer;
}

.black-background {
  background-color: rgb(0, 0, 0);
}

.red-background {
  background-color: rgb(255, 0, 0);
}

.orange-background {
  background-color: rgb(255, 115, 0);
}

.yellow-background {
  background-color: rgb(255, 238, 0);
}

.green-background {
  background-color: rgb(0, 255, 0);
}

.blue-background {
  background-color: rgb(0, 0, 255);
}

.violet-background {
  background-color: rgb(154, 18, 179);
}

/* text-highlight styles
//
*/

.text-black0 {
  color: rgb(0, 0, 0);
}
.text-red0 {
  color: rgb(230, 0, 0);
}
.text-orange0 {
  color: rgb(255, 153, 0);
}
.text-yellow0 {
  color: rgb(255, 255, 0);
}
.text-green0 {
  color: rgb(0, 138, 0);
}
.text-blue0 {
  color: rgb(0, 102, 204);
}
.text-violet0 {
  color: rgb(153, 51, 255);
}

.text-black1 {
  color: rgb(255, 255, 255);
}
.text-red1 {
  color: rgb(250, 204, 204);
}
.text-orange1 {
  color: rgb(255, 235, 204);
}
.text-yellow1 {
  color: rgb(255, 255, 204);
}
.text-green1 {
  color: rgb(204, 232, 204);
}
.text-blue1 {
  color: rgb(204, 224, 245);
}
.text-violet1 {
  color: rgb(235, 214, 255);
}

.text-black2 {
  color: rgb(187, 187, 187);
}
.text-red2 {
  color: rgb(240, 102, 102);
}
.text-orange2 {
  color: rgb(255, 194, 102);
}
.text-yellow2 {
  color: rgb(255, 255, 102);
}
.text-green2 {
  color: rgb(102, 185, 102);
}
.text-blue2 {
  color: rgb(102, 163, 224);
}
.text-violet2 {
  color: rgb(194, 133, 255);
}

.text-black3 {
  color: rgb(136, 136, 136);
}
.text-red3 {
  color: rgb(240, 102, 102);
}
.text-orange3 {
  color: rgb(255, 194, 102);
}
.text-yellow3 {
  color: rgb(255, 255, 102);
}
.text-green3 {
  color: rgb(102, 185, 102);
}
.text-blue3 {
  color: rgb(0, 71, 178);
}
.text-violet3 {
  color: rgb(107, 36, 178);
}

.text-black4 {
  color: rgb(68, 68, 68);
}
.text-red4 {
  color: rgb(92, 0, 0);
}
.text-orange4 {
  color: rgb(102, 61, 0);
}
.text-yellow4 {
  color: rgb(102, 102, 0);
}
.text-green4 {
  color: rgb(0, 55, 0);
}
.text-blue4 {
  color: rgb(0, 41, 102);
}
.text-violet4 {
  color: rgb(61, 20, 102);
}

/* background highlight styles
 // 
*/
.background-black0 {
  background-color: rgb(0, 0, 0);
}
.background-red0 {
  background-color: rgb(230, 0, 0);
}
.background-orange0 {
  background-color: rgb(255, 153, 0);
}
.background-yellow0 {
  background-color: rgb(255, 255, 0);
}
.background-green0 {
  background-color: rgb(0, 138, 0);
}
.background-blue0 {
  background-color: rgb(0, 102, 204);
}
.background-violet0 {
  background-color: rgb(153, 51, 255);
}

.background-black1 {
  background-color: rgb(255, 255, 255);
}
.background-red1 {
  background-color: rgb(250, 204, 204);
}
.background-orange1 {
  background-color: rgb(255, 235, 204);
}
.background-yellow1 {
  background-color: rgb(255, 255, 204);
}
.background-green1 {
  background-color: rgb(204, 232, 204);
}
.background-blue1 {
  background-color: rgb(204, 224, 245);
}
.background-violet1 {
  background-color: rgb(235, 214, 255);
}

.background-black2 {
  background-color: rgb(187, 187, 187);
}
.background-red2 {
  background-color: rgb(240, 102, 102);
}
.background-orange2 {
  background-color: rgb(255, 194, 102);
}
.background-yellow2 {
  background-color: rgb(255, 255, 102);
}
.background-green2 {
  background-color: rgb(102, 185, 102);
}
.background-blue2 {
  background-color: rgb(102, 163, 224);
}
.background-violet2 {
  background-color: rgb(194, 133, 255);
}

.background-black3 {
  background-color: rgb(136, 136, 136);
}
.background-red3 {
  background-color: rgb(240, 102, 102);
}
.background-orange3 {
  background-color: rgb(255, 194, 102);
}
.background-yellow3 {
  background-color: rgb(255, 255, 102);
}
.background-green3 {
  background-color: rgb(102, 185, 102);
}
.background-blue3 {
  background-color: rgb(0, 71, 178);
}
.background-violet3 {
  background-color: rgb(107, 36, 178);
}

.background-black4 {
  background-color: rgb(68, 68, 68);
}
.background-red4 {
  background-color: rgb(105, 43, 43);
}
.background-orange4 {
  background-color: rgb(102, 61, 0);
}
.background-yellow4 {
  background-color: rgb(102, 102, 0);
}
.background-green4 {
  background-color: rgb(0, 55, 0);
}
.background-blue4 {
  background-color: rgb(0, 41, 102);
}
.background-violet4 {
  background-color: rgb(61, 20, 102);
}

blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

pre {
  font-family: "Inconsolata", monospace;
  font-size: 0.8em;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  border-radius: 3px;
}

.pre-keyword {
  color: rgb(255, 22, 72);
}
.pre-number {
  color: #ae81ff;
}

.indent-1{
  padding-left: 3em;
}

.indent-2{
  padding-left: 6em;
}

.indent-3{
  padding-left: 9em;
}

.indent-4{
  padding-left: 12em;
}

.indent-5{
  padding-left: 15em;
}

.indent-6{
  padding-left: 18em;
}

.indent-7{
  padding-left: 21em;
}

.indent-8{
  padding-left: 24em;
}