body {
  background-color: #f4f5f5;
}

.icon,
.url {
  margin-left: 0.5rem;
}

.icon:hover,
.icon:focus,
.icon:active,
.icon:visited,
.icon:link {
  text-decoration: none;
}

.icon:visited,
.icon:link {
  color: black;
}

.icon:hover,
.icon:active,
.icon:focus {
  color: rgba(25, 150, 200, 1);
}

.editor {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample-toolbar,
.work-area {
  width: 60rem;
  padding: 1rem 2rem;
}

.sample-toolbar {
  background: rgba(255, 255, 255, 1);
}

.sample-toolbar > span {
  cursor: pointer;
}

/* .sample-toolbar > span:hover {
  text-decoration: underline;
} */

.sample-toolbar span:hover {
  text-decoration: none;
}

.work-area {
  overflow: auto;
  height: 100%;
  background-color: white;
  overflow-wrap: break-word;
}

.strong {
  font-weight: bold;
}

.u {
  text-decoration: underline;
}

.em {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.background-highlight {
  background-color: rgb(255, 238, 0);
}

.text-highlight {
  color: rgb(255, 238, 0);
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.hidden {
  display: none;
}

.dropdown {
  background-color: #f4f5f5;
  min-width: 2rem;
  display: block;
  margin-top: -1px;
  left: 28.2vw;
  line-height: 1.3;
  z-index: 1;
  position: absolute;
  white-space: nowrap;
  padding: 4px;
}

.dropdown a {
  display: block;
}

.highlight-dropdown {
  height: 7.5rem;
  background-color: #f4f5f5;
  width: 8.6rem;
  /* min-width: 1rem; */
  display: block;
  margin-top: -1px;
  left: 28.2vw;
  /* line-height: 1.3; */
  z-index: 1;
  position: absolute;
  white-space: nowrap;
  padding: 4px;
}

.highlight-dropdown > span {
  display: inline-block;
}

.highlight-dropdown button {
  display: inline-block;
}

.highlight-dropdown button:hover{
  text-decoration: none;
}

.highlight-square {
  /* width: 1rem; */
  height: 1rem;
  border-style: none;
  cursor: pointer;
}

.black-background {
  background-color: rgb(0, 0, 0);
}

.red-background {
  background-color: rgb(255, 0, 0, 1);
}

.orange-background {
  background-color: rgb(255, 115, 0);
}

.yellow-background {
  background-color: rgb(255, 238, 0);
}

.green-background {
  background-color: rgb(0, 255, 0, 1);
}

.blue-background {
  background-color: rgb(0, 0, 255, 1);
}

.violet-background {
  background-color: rgb(154, 18, 179, 1);
}

.text-highlight-black0 {
  color: rgb(0, 0, 0, 1);
}

.text-highlight-red0 {
  color: rgb(255, 0, 0, 1);
}

.text-highlight-orange0 {
  color: rgb(255, 115, 0);
}

.text-highlight-yellow0 {
  color: rgb(255, 238, 0);
}

.text-highlight-green0 {
  color: rgb(0, 255, 0, 1);
}

.text-highlight-blue0 {
  color: rgb(0, 0, 255, 1);
}

.text-highlight-violet0 {
  color: rgb(154, 18, 179, 1);
}
